.kite {
  
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-bottom: 5px;
    font-size: 20px;
    padding: 5px;
    width: 500px;
   color: #05c9f9;
   text-align: left;
   margin-left: 500px;

}
.border {
    border: 5px solid;
}
